{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <a href="{{ url_for('main.index') }}" class="back-arrow">
        <i class="fa fa-long-arrow-alt-left"></i>
    </a>
    <h1 class="form-header">add new assessment</h1>
    <form method="POST" class="assessment-form" onsubmit="return validateForm()">
        {{ form.hidden_tag() }}
        
        <p>
            <label for="title">{{ form.title.label }}</label><br>
            {{ form.title(size=32, id="title", maxlength=35, class_="form-control" ,placeholder="enter title") }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            <label for="module_code">{{ form.module_code.label }}</label><br>
            {{ form.module_code(size=10, id="module_code", maxlength=10, class_="form-control", placeholder="enter module code") }}<br>
            {% for error in form.module_code.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            <label for="deadline_date">{{ form.deadline_date.label }}</label><br>
            {{ form.deadline_date(id="deadline_date", class_="form-control") }}<br>
            {% for error in form.deadline_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            <label for="description">{{ form.description.label }}</label><br>
            {{ form.description(cols=30, rows=5, id="description", maxlength=200, class_="form-control", placeholder="enter desciption (max 200 characters)") }}<br>
        </p>

        <p>
            <label for="is_complete" id="comp">{{ form.is_complete.label }}</label> 
            {{ form.is_complete(id="is_complete") }}
        </p>

        <p>
            {{ form.submit(class_="submit-button") }}
        </p>
    </form>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
